.row2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex2 {
  display: flex;
  justify-content: space-between;
}
.box2 {
  background-color: var(--bgbox);
  width: calc(21% - 10px);
  height: auto;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 3px 0px var(--shadow);
  margin-bottom: 2rem;
}
.views {
  color: var(--views);
}
.name2 {
  color: var(--cardText);
  font-size: 1rem;
  font-weight: 700;
}
.line2 {
  margin-top: 20px;
}
.iconvote2 {
  margin-right: 5px;
  height: 5px;
  margin-top: 8px;
}
.down2 {
  color: hsl(356, 69%, 56%);
  font-size: 0.8rem;
  font-weight: 600;
}
.up2 {
  color: hsl(163, 72%, 41%);
  font-size: 0.8rem;
  font-weight: 600;
}
.box2:hover {
  background-color: var(--hover);
}
.cardsDiv {
  margin: 1.5rem 5% 0;
}
@media screen and (max-width: 769px) {
  .box2 {
    width: calc(44% - 10px);
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 426px) {
  .box2 {
    width: calc(100% - 10px);
    margin-bottom: 1rem;
  }
}
