.row2 {
  display: flex;
  margin: 1.5rem 5% 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex2 {
  display: flex;
  justify-content: space-between;
}
.box2 {
  background-color: hsl(227, 47%, 96%);
  width: calc(21% - 10px);
  height: auto;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 3px 0px rgb(241, 241, 241);
  margin-bottom: 2rem;
}
.name2 {
  color: hsl(228, 12%, 44%);
  font-size: 1rem;
  font-weight: 700;
}
.line2 {
  margin-top: 20px;
}
.iconvote2 {
  margin-right: 5px;
  height: 5px;
  margin-top: 8px;
}
.down2 {
  color: hsl(356, 69%, 56%);
  font-size: 0.8rem;
  font-weight: 600;
}
.up2 {
  color: hsl(163, 72%, 41%);
  font-size: 0.8rem;
  font-weight: 600;
}
.box2:hover {
  background-color: hsl(227, 47%, 94%);
}
